.forecastForm {
    width: 100%;
    .container {
        width: 100%;
    }

    form {
        width: 100%;
        display: flex;
        gap: 15px;

        label {
            width: 100%;
        }
    }
}