.header {
    height: 80px;
// background-color: gray;
    .container{
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    // margin-left;
    .logo {
        height:60px;
        width: auto;
        margin-left: 16px;
    }
    .logoText{
        height: 35px;

        @media (max-width:768px) {
            display: none;
            
        }
    }
    p {
        font-size: x-large;
        font-family:Arial, Helvetica, sans-serif;
        margin: 0;
    }
    .btns {
        margin-left: auto;
    }

    }
    
}