.heroMain {
  .container {

  }

  .contentWrapper {

    text-align: center;


    h1 {
      font-size: 64px;
      font-weight: 600;
      letter-spacing: -2.4px;
      line-height: 80px;
      margin: 20px 0px 30px 0px;

      @media (max-width:768px) {
        font-size: 54px;
        line-height: 1.3em;
        
    }

    @media (max-width:768px) {
      font-size: 45px;
      
  }

      span {
        color: #ed7874;
      }
    }

    p {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 3rem;
    }

    .buttonWrapper {
      display: inline-flex;
      gap: 16px;
    }
  }


}
