.home {
  width: 100%;
  min-height: 100vh;

  .contentContainer {
    width: 80%;
    max-width: 1300px;
    margin: 100px auto 150px auto;
    background-color: lightblue;
    padding: 80px 40px;
    border-radius: 1em;
  }
}
