.forecastComponent {
    .contentWrapper {
        padding: 16px;
    }
    ul {
        margin: 0;
        padding: 0;
    }

    .content {
        h2 {
            font-weight: 700;
            letter-spacing: -2.4px;
            font-size: 3.125rem; 
            margin-bottom: 0;
        }
    }

    .forecastRow {
        display: flex;
        gap: 20px; 
        list-style-type: none;
        border-bottom: lightgrey solid 1px;
        padding: 1rem;
        margin-bottom: 10px;

        h5 {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -1px;
        }
        
        .col {
            flex: 1; 

            &:last-child {
                margin-left: auto;
                width: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .rating {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
            }
        }

        .removeIcon {
            background: transparent;
            border: 0;
            border-radius: 50%;
            height: 50px;
            width: 50px;

            &:hover {
                cursor: pointer;
                background-color: lightblue;
            }
        }
    }

    .titleRow {
        align-items: end;
        h4 {
            font-size: 1rem; 
            font-weight: 700;
            letter-spacing: -1px;
            border-bottom: none;
            padding: 0;
            margin-bottom: 0;
        }
    }

    @media (max-width: 480px) {
        .forecastRow {
            flex-direction: column;
            gap: 10px;

            .col {
                width: 100%;
                display: block;

                &:last-child {
                    width: auto;
                }
            }
        }

        .content {
            h2 {
                font-size: 2rem; 
            }
        }
    }
}
