.forecastComponent {

    .contentWrapper {
        padding: 16px

    }
    ul {
        margin: 0;
        padding:0;
    }

    .content {
        h2 {
            font-weight:700;
            letter-spacing: -2.4px;
            font-size:3.125rem;
            margin-bottom: 0;
        }
    }

    .forecastRow {
        display: flex;
        gap: 32px;
        list-style-type: none;
        border-bottom: lightgrey solid 1px;
        border-bottom: lightgrey solid 1px;
        // border: solid 2px lightcoral;
        padding: 1rem 5rem 1rem 1rem;
        margin-bottom: 10px;

        h5 {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -1px;
        }
        
        .col {
            width: 25%
        }

        .col:last-child {
            margin-left: auto;
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .removeIcon {
            background: transparent;
            border:0;
            border-radius: 50%;
            height: 50px;
            width: 50px;

            &:hover {
                cursor: pointer;
                background-color: lightblue;
            }
        }
    }

    .titleRow{
        align-items: end;
        h4 {
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: -1px;
            border-bottom: none;
            padding: 0;
            margin-bottom: 0;
        }
    }

    
}