.slideButton {
    display:flex;
    align-items: center;
    position: relative;
    height: 4rem;
    padding: 1rem 5rem 1rem 3rem;
    margin: 0.2em;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
    border: solid black 3px;
    background-color: black;
    color: white;

    transition: color 0.2s;

    .contentWrapper {
        z-index: 2;
    }


    .hoverCircle{
        position: absolute;
        right: 3px;
        height: calc(4rem - 12px);
        width: calc(4rem - 12px);
        z-index: 1;
        background-color: #fff;
        border-radius: 2rem;

        transition: width 0.2s;

        .arrow {
            position: absolute;
            z-index: 2;
            margin-left: auto;
            top: 50%;
            right:calc((4rem - 12px)/2);
            transform: translateX(50%) translateY(-50%);
        }
    }

    &:hover {
        cursor: pointer;
        color: black;

        .hoverCircle {
            width: calc(100% - 6px);
        }
    }

    @media (max-width:480px) {
        scale: 0.75;
        
    }

}

.isBlue {
    border-color: #007aff;
    background-color: #007aff;
    .hoverCircle{
        .arrow{
            filter: invert(59%) sepia(79%) saturate(7217%) hue-rotate(200deg) brightness(101%) contrast(106%);
        }
    }

    &:hover {
        color: #007aff;
    }
}